<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<settings>
	<category label="General">
		<setting id="baseflavor" type="labelenum" label="Filter Anime" values="Subs Only|Dubs Only|None" default="None"/>
		<setting id="reverseorder" type="labelenum" label="Episode order" values="Ascending|Descending" default="Descending"/>
		<setting id="searchhistory" type="labelenum" label="Enable search history" values="Yes|No" default="Yes"/>
		<setting id="menucontent.type" type="labelenum" label="Set menu content type" values="addons|tvshows" default="tvshows"/>
	</category>
	<category label="Servers">
		<setting id="prefres" label="Prefere Resolution" type="labelenum" values="360p|480p|720p|1080p" default="1080p"/>
		<setting id="autoplay" label="Automatically play first result" type="bool" default="false"/>
	</category>
	<category label="WonderfulSubs">
        	<setting id="wonderfulsubs.name" type="text" label="Username:" default=""/>
        	<setting id="wonderfulsubs.password" type="text" option="hidden" label="Password:" default=""/>
		<setting id="wonderfulsubs.login" type="action" label="Click to Login..." option="close" action="RunPlugin(plugin://plugin.video.wonderfulsubs/watchlist_login/wonderfulsubs)"/>
	</category>
	<category label="MyAnimeList">
        	<setting id="mal.name" type="text" label="Username:" default=""/>
        	<setting id="mal.password" type="text" option="hidden" label="Password:" default=""/>
		<setting id="mal.login" type="action" label="Click to Login..." option="close" action="RunPlugin(plugin://plugin.video.wonderfulsubs/watchlist_login/mal)"/>
		<setting type="lsep" label="Watchlist"/>
		<setting id="mal.sort" type="labelenum" label="Sort by:" values="Last Updated|Progress|Anime Title" default="Anime Title"/>
	</category>
	<category label="Kitsu">
        	<setting id="kitsu.name" type="text" label="Email:" default=""/>
        	<setting id="kitsu.password" type="text" option="hidden" label="Password:" default=""/>
		<setting id="kitsu.login" type="action" label="Click to Login..." option="close" action="RunPlugin(plugin://plugin.video.wonderfulsubs/watchlist_login/kitsu)"/>
		<setting type="lsep" label="Watchlist"/>
		<setting id="kitsu.sort" type="labelenum" label="Sort by:" values="Date Updated|Progress|Title" default="Title"/>
		<setting id="kitsu.titles" type="labelenum" label="How titles will be displayed:" values="Canonical|Romanized|English" default="Canonical"/>
	</category>
	<category label="AniList">
        	<setting id="anilist.name" type="text" label="Username:" default=""/>
        	<setting id="anilist.password" type="text" option="hidden" visible="false" label="Password:" default=""/>
		<setting id="anilist.login" type="action" label="Click to Add..." option="close" action="RunPlugin(plugin://plugin.video.wonderfulsubs/watchlist_login/anilist)"/>
		<setting id="anilist.sort" type="labelenum" label="Sort by:" values="Score|Progress|Last Updated|Last Added" default="Progress"/>
	</category>
</settings>
